.header-main{
    width: 40%;
    margin-left: 25%;
}
hr{
    margin-top: 10%;
}


.navbar{
    border-radius: 4em / 3em;
    padding: 20px;
    width: 70%;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    margin-left: 20%;


}

.basic{
    font-weight: bolder;
    padding-top: 2%;
}
.basic1{
    text-decoration: none;
}

.property{
    font-weight: bolder;
}
.property1{
    text-decoration: none;
}
.general{
    font-weight: bolder;
}
.general1{
    text-decoration: none;
}
.loc{
    font-weight: bolder;
    
}
.loc1{
    text-decoration: none;
}
.oa{
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}

/* .basic:hover{
    background-color: aqua;
    height: 100%;
} */

.box1{
    display: flex;
    margin-left: 3%;
    margin-top: 4%;
}

.proType{
    font-weight: bold;
}

.select{
    width: 500px;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
    color: grey;
}

.negotableSelect{
    margin-left: 5%;
    font-weight: bold;
}

.select1{
    width: 500px;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
    color: grey;
}

.box2{
    display: flex;
    margin-left: 3%;
    margin-top: 3%;

}

.select3{
    width: 470px;
    height: 26px;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
    color: grey;
}

.select4{
    width: 500px;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
    color: grey;
}

.ownershipSelect{
    margin-left: 5%;
    font-weight: bold;
}

.priceSelect{
    font-weight: bold;
}

.box3{
    display: flex;
    margin-left: 3%;
    margin-top: 3%;
}

.select5{
    width: 500px;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
    color: grey;

}

.select6{
    width: 500px;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
    color: grey;
}

.propertyageSelect{
    font-weight: bold;
}

.propertyapprovedSelect{
    font-weight: bold;
    margin-left: 5%;
}

.box4{
    display: flex;
    margin-left: 3%;
    margin-top: 3%;
}

.select7{
    width: 470px;
    height: 26px;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
    color: grey;
}

.select8{
    width: 500px;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
    color: grey;
}

.desciprtion{
    font-weight: bold;
}

.BankLoanSelect{
    font-weight: bold;
    margin-left: 5%;
}

.cancel{
    border-radius: 4em / 3em;
    padding: 20px;
    width: 16%;
    height: 60px;
    background-color: rgb(69, 178, 233);
    margin-left: 30%;
    margin-top: 4%;
    font-weight: bolder;
    color: white;
    font-size: large;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    border: 0px;
}

.save2{
    border-radius: 4em / 3em;
    padding: 20px;
    width: 20%;
    height: 60px;
    background-color: white;
    background-color: rgb(23, 95, 239);
    margin-left: 5%;
    margin-top: 4%;
    font-weight: bolder;
    color: white;
    font-size: large;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    border: 0px;
}

.basicform{
    margin-left: 5%;
    border-radius: 10px;
    height: 550px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.ppd-Package{
    margin-left: 5%;
}

.main_section .nav_section .navbar .nav_one{
    background-color: rgb(86, 191, 247);
    height: 60px;
    width: 200px;
    margin-top: -20px;
    border-radius: 60px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    text-align: center;
}

.main_section .nav_section .navbar .nav_one .basic{
    text-align: center;
    margin-top: 17px;
    color: white;
}