.generalinfo{
    width: 90%;
    margin-left: 6%;
    border-radius: 10px;
    height: 550px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}


.box9{
    display: flex;
    margin-left: 3%;
    margin-top: 3%;
    font-weight: bold;
    padding-top: 3%;
    color: grey;
}

.select9{
    width: 480px;
    height: 50px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    color: grey;
    border: 1px solid  rgb(130, 158, 122);
}

.mobile{
    width: 430px;
    height: 26px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    color: grey;
    border: 1px solid  rgb(130, 158, 122);
}

.name{
    margin-left: 2%;
    font-weight: bold;
}

.mob{
    margin-left: 3%;
}

.box10{
    display: flex;
    margin-left: 5%;
    margin-top: 3%;
    font-weight: bold;
    color: grey;
}

.select10{
    width: 480px;
    height: 50px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    color: grey;
}

.select11{
    width: 450px;
    height: 50px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    color: grey;
}

.saletype{
    margin-left: 3%;
}

.box11{
    display: flex;
    margin-left: 5%;
    margin-top: 3%;
    font-weight: bold;
    color: grey;
}

.select12{
    width: 480px;
    height: 50px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    color: grey;
}
.ppd-Package{
    margin-left: 3%;
}
.select13{
    width: 450px;
    height: 50px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    color: grey;
}


.main_section .nav_section .navbar .nav_three{
    background-color: rgb(86, 191, 247);
    height: 60px;
    width: 200px;
    margin-top: -20px;
    border-radius: 60px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    text-align: center;
    color: white;
}

.main_section .nav_section .navbar .nav_three .general{
    text-align: center;
    margin-top: 17px;
    color: white;
}

.save3{
    border-radius: 4em / 4em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
    width: 18%;
    height: 60px;
    background-color: white;
    background-color: rgb(71, 82, 163);
    margin-left: 5%;
    margin-top: 4%;
    font-weight: 530;
    color: white;
    font-size: large;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    border: 0px;
    text-align: center;
}

/* .upload_box input[type="file" i]{
    display: none;
    visibility: hidden;
} */