.propertyform{
    background-color: rgb(235, 228, 228);
    width: 76%;
    margin-left: 20%;
    border-radius: 10px;
    height: 850px;
    margin-top: 3%;
}

.box19{
    padding-top: 2%;
    display: flex;
    margin-left: 5%;
    margin-top: 3%;
    font-weight: bold;
}

.length{
    width: 470px;
    height: 26px;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
    color: grey;
}

.bre{
    width: 470px;
    height: 26px;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
    color: grey;
}

.breath{
    margin-left: 5%;
}

.box20{
    padding-top: 2%;
    display: flex;
    margin-left: 5%;
    margin-top: 3%;
    font-weight: bold;
}

.select17{
    width: 500px;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
    color: grey;
}

.area1{
    width: 470px;
    height: 26px;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
    color: grey;
}

.area-unit{
    margin-left: 5%;
}

.box21{
    padding-top: 2%;
    display: flex;
    margin-left: 5%;
    margin-top: 3%;
    font-weight: bold;
}
.select18{
    width: 500px;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
    color: grey;
}

.select19{
    width: 500px;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
    color: grey;
}